name: Deploy to Tomcat

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Upload site to EC2
      run: |
        echo "$VM_SSH_KEY" > key.pem
        chmod 600 key.pem

        # Copy files to EC2
        scp -i key.pem -r ./openEditions/* $VM_USER@$VM_HOST:/home/ec2-user/

        # Move files to Tomcat
        ssh -i key.pem $VM_USER@$VM_HOST << EOF
          sudo cp /home/ec2-user/index.html /opt/tomcat/webapps/openedition/
          sudo cp /home/ec2-user/style.css /opt/tomcat/webapps/openedition/
          sudo /opt/tomcat/bin/shutdown.sh
          sleep 5
          sudo /opt/tomcat/bin/startup.sh
        EOF
      env:
        VM_HOST: ${{ secrets.VM_HOST }}
        VM_USER: ${{ secrets.VM_USER }}
        VM_SSH_KEY: ${{ secrets.VM_SSH_KEY }}
